<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Queueing Test</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="body">
    <div class="root_div">
        <form method="post">
            <button name="first">Update First Image</button>
        </form>
        <form method="post">
            <button name="second">Update Second Image</button>
        </form>
        <form method="post">
            <button name="third">Update Third Image</button>
        </form>
    </div>
</body>
</html>